{% load staticfiles %}
<html>
    <head>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link href="http://fonts.googleapis.com/css?family=Great Vibes&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Simo's blog</title>
    </head>
    <body>
    	<link href="http://fonts.googleapis.com/css?family=Gloria Hallelujah&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    	<div class="page-header">
            <h1><a href="">Simo's Blog</a></h1>
        </div>
        <div>
            {% for post in posts %}
            	<div class="post">
                  <h1><a href="">{{ post.title }}</a></h1>
                  <p>{{ post.text|linebreaks }}</p>
                  
                </div>
                <img src="{% static 'img/2a02643.jpg' %}" alt="Mountain View">
                <p class="published_date">published: {{ post.published_date }}</p>
    		
			{% endfor %}
        </div>
        
        
    </body>
</html>